<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>

<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
                <h1>Doctor Dashboard</h1>

                <div class="filter-wrapper">
                    <input type="text" id="searchBar" class="searchBar" placeholder="Search patients or records" />
                    <button id="todayButton" class="adminBtn">Today</button>
                    <input type="date" id="datePicker" class="filter-select" />
                </div>

                <div class="table-container">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Phone No.</th>
                                <th>Email</th>
                                <th>Prescription</th>
                            </tr>
                        </thead>
                        <tbody id="patientTableBody">
                            <!-- Rows populated dynamically -->
                        </tbody>
                    </table>
                </div>

            </main>
            <div id="footer"></div>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>

    <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
    
</body>

</html>
